<input
  type="text"
  name="searchTerm"
  placeholder="Search"
  [(ngModel)]="searchTerm"
  (ngModelChange)="filterData()"
/>
<div class="grid">
  <div
    class="box"
    *ngFor="
      let home of home
        | paginate
          : {
              itemsPerPage: resultsPerPage,
              currentPage: page,
              totalItems: totalHome
            }
    "
  >
    <div class="box_info">
      <h3>
        {{ home.name }}
      </h3>
      <img [src]="home.sprites.front_default" alt="Pokemon" />
      <p><b>Height:</b>{{ home.height }}</p>
    </div>
  </div>
</div>
<pagination-controls
  (pageChange)="page = $event; getHome()"
></pagination-controls>
